---
layout: page
title: research
permalink: /research/
---

<h3>Publications</h3>
{% assign published_papers = site.research_papers | where: "research_paper_type", "published_paper" | sort: "rank" %}

{% for paper in published_papers %}
  <div class="research-paper">
    <span class="research-title">
      <a target="_blank" href="{{ paper.journal_url }}">
        {{ paper.title }}
      </a>
    </span>

    {% if paper.coauthors %}
    </br>
      with {{ paper.coauthors }}
    {% endif %}

    {% if paper.journal %}
    </br>
      <span class="research-paper-journal">{{ paper.journal }}</span>
    {% endif %}
  </div>

{% endfor %}

<p class="solid-line"></p>

<h3>Working Papers</h3>

{% assign working_papers = site.research_papers | where: "research_paper_type", "working_paper" | sort: "rank" %}

{% for paper in working_papers %}
  <div class="research-paper">
    <span class="research-title">
      {{ paper.title }}
    </span>

    {% if paper.coauthors %}
    </br>
      with {{ paper.coauthors }}
    {% endif %}

    {% if paper.assets %}
    </br>
    Current Version: [
      {% for asset in paper.assets %}
        {% if forloop.first != true %}
          |
        {% endif %}

        {% if asset.link %}
          <a target="_blank" href="{{ site.base_url }}/assets/research/{{ asset.link }}">
            {{ asset.type }}
          </a>
        {% elsif asset.external_link %}
          <a target="_blank" rel="external" href="{{ asset.external_link }}">
            {{ asset.type }}
          </a>
        {% endif %}
      {% endfor %}
      ]
    {% endif %}

    {% if paper.status %}
      </br>
      <span>{{ paper.status }}</span>
      {% if paper.journal %}
       - <span class="research-paper-journal">{{ paper.journal }}</span>
      {% endif %}
    {% endif %}

  </div>
{% endfor %}

<p class="solid-line"></p>

<h3>Selected Works In Progress</h3>

{% assign works_in_progress = site.research_papers | where: "research_paper_type", "work_in_progress" | sort: "rank"  %}

{% for paper in works_in_progress %}
  <div class="research-paper">
    <span class="research-title">
      {{ paper.title }}
    </span>

    {% if paper.coauthors %}
      </br>
      with {{ paper.coauthors }}
    {% endif %}
  </div>
{% endfor %}
