// Modules are reusable components. e.g. sidebar sections, callouts, product lists, etc.
// selector examples: .sidebar, .callout

.about-text {
  float: left;
  width: 400px;
  margin-left: auto;

  h3 {
    margin-bottom: 5px;
  }

  @include media-query($on-palm) {
    margin-left: 1em;
  }
}

.copyright {
  text-align: center;
}

.evaluations-title {
  margin-bottom: 0;
}

.profile-img {
  float: left;
  width: 260px;
  height: 260px;
  margin: 0 1em 1em 0;

  @include media-query($on-palm) {
    margin: 1em;
  }
}

.research-paper {
  margin-bottom: 1.2em;
}

.research-title {
  font-weight: bold;
}

.research-paper-status {
  font-style: italic;
}

.solid-line {
  clear: both;
  border-top: 2px solid $grey-color-light;
}

.summary-info {
  max-width: $content-width * 0.875;

  h3 {
    margin-bottom: 0;
  }

  p {
    margin-bottom: $spacing-unit;
  }

  @include media-query($on-palm) {
    margin: auto;
  }
}

@include media-query($on-laptop) {
}

@include media-query($on-palm) {
}
