// Modules are reusable components. e.g. sidebar sections, callouts, product lists, etc.
// selector examples: .sidebar, .callout

.profile-img {
  float: left;
  width: 150px;
  height: 150px;
  margin: 1em;
}

.copyright {
  text-align: center;
}
